@charset "utf-8";

:root {
    /* 
      Color palette
      Usage:
        rgb(var(--color))
      or
        rgba(var(--color, opacity))
    */

    --dark: 13, 25, 34;
    /* #0d1922 */
    --white: 245, 245, 245;
    /* #f5f5f5 */
    --beige: 246, 243, 234;
    /* #f6f3ea */
    --vivid-blue: 26, 48, 255;
    /* #1a30ff */
    --cornflower: 88, 102, 247;
    /* #5866f7 */
    --hr-gray: 199, 200, 203;
    /* #c7c8cb */
    --yellow-gray: 172, 169, 163;
    /* #aca9a3 */
}

html {
    background-color: rgb(var(--beige));
}

body {
    color: rgb(var(--dark));
    background-color: rgb(var(--beige));
}

table {
    border-collapse: collapse;
}

table td,
table th {
    padding: 0.5em;
    border: 1px solid;
    word-break: normal;
}

.wp-block-table thead {
    border-bottom: 3px solid;
}

.wp-block-table tfoot {
    border-top: 3px solid;
}

.wp-block-table figcaption {
    color: #555;
    font-size: 13px;
    text-align: center;
}

p {
    margin: 0;
}

a {
    text-decoration: none;
    color: rgb(var(--vivid-blue));
}

img {
    height: auto;
}

main {
    margin-bottom: 200px;
}

#container {
    position: relative;
    min-height: 150vh;
}

#content {
    min-height: 150vh;
    padding-top: 5rem;

}

#navbar {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    align-items: center;
    height: 5rem;
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.16);
    background-color: rgba(var(--beige), .98);
    z-index: 990;
}

#navbar .logo_title {
    display: inherit;
    padding-left: 3%;
}

#navbar .logo_title a {
    display: inherit;
    align-items: center;
}

#navbar .logo_title :nth-child(1) {
    height: 3rem;
    /* height: calc(72/1920*100vw); */
}

#navbar .logo_title :nth-child(2) {
    padding-left: 1vw;
    height: 2.5rem;
    /* height: calc(57/1920*100vw); */
}

#navbar .menu-main-container {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#navbar a {
    text-decoration: none;
    color: rgb(var(--dark));
    display: inherit;
    font-size: 1.375rem;
}

#navbar ul {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0;
}

#navbar .menu-main-container>ul>li {
    margin: 0 1rem;
    cursor: pointer;
}

#navbar .menu-main-container>ul>li>a:after {
    display: inline-block;
    content: '';
    background-image: url('../images/angle-down-solid.svg');
    background-size: 1rem 1rem;
    height: 1rem;
    width: 1rem;
    margin-left: .5rem
}


#navbar li ul {
    position: fixed;
    top: 5rem;
    left: 0;
    display: flex;
    flex-wrap: wrap;
    width: 95%;
    margin: 1.25rem 2.5%;
    padding: 3% 20%;
    border-radius: 20px;
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.16);
    background-color: rgba(var(--beige), .98);
    min-height: 15rem;
}

#navbar li ul li {
    position: unset;
    width: calc(100%/3);
    /* height: calc(72/1920*100vw); */
    height: 4rem;
    margin-bottom: 1.5rem;
}

#navbar li ul li a {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    width: 85%;
    height: inherit;
    border-bottom: solid 1px rgb(var(--dark));
}

#navbar ul .menu-item-has-children::after {
    content: "";
    background: url("../images/top_icon.svg") no-repeat;
}

#navbar ul .sub-menu {
    display: none;
    z-index: 1000;
}

#navBtn {
    display: none;
    padding: 0.25rem 0.75rem;
    font-size: 1.25rem;
    line-height: 1;
    color: rgba(255, 255, 255, .5);
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, .3);
    border-radius: 0.25rem;
}

#navBtn .navbar-toggler-icon {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    content: "";
    background: no-repeat center center;
    background-size: 100% 100%;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.5%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

#footer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 1rem;
    letter-spacing: 0.8px;
}

.footer_wrapper {
    width: 80%;
}

#footer a {
    color: rgb(var(--dark));
}

.copyright {
    display: flex;
    justify-content: space-between;
}

.copyright_content {
    font-family: 'Times New Roman', Times, serif;
}

.friend_link {
    margin-left: auto;
    width: 35%;
    display: flex;
    justify-content: space-between;
}

.friend_link a {
    font-weight: 300;
}

.contact {
    display: flex;
    flex-direction: column;
}

.contact table {
    font-weight: 300;
}

.contact table td {
    padding: .5rem 0;
    border: unset;
}

.contact_title {
    font-weight: 500;
    font-size: 1.375rem;
}

#up-left {
    background-image: url(../images/phone.svg);
    background-repeat: no-repeat;
    background-position: left;
    padding-left: 2rem;
}

#up-right {
    background-image: url(../images/mail.svg);
    background-repeat: no-repeat;
    background-position: left;
    padding-left: 2rem;
}

#down-left {
    background-image: url(../images/fax.svg);
    background-repeat: no-repeat;
    background-position: left;
    padding-left: 2rem;
}

#down-right {
    background-image: url(../images/location.svg);
    background-repeat: no-repeat;
    background-position: left;
    padding-left: 2rem;
}

#topBtn {
    position: fixed;
    right: 3vw;
    bottom: 5vh;
    padding: 1vw;
    z-index: 990;
    border-style: none;
    /* color: rgb(83, 102, 253); */
    background-color: transparent;
    text-transform: uppercase;
    font-size: 1.8rem;
    display: none;
}

#blocker {
    text-align: center;
    position: fixed;
    z-index: 999;
    top: 5rem;
    left: 0px;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.10);
    display: none;
}

#post-content p a {
    font-size: inherit;
}

#navbar .mobile_wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

#navbar .mobile_wrapper>* {
    margin-right: 1.5rem;
}

@media screen and (max-width: 800px) {
    main {
        margin-bottom: 0 !important;
    }

    #navbar {
        flex-wrap: wrap;
        justify-content: space-between;
    }

    #navBtn {
        display: unset;
    }

    #navbar .menu-main-container {
        display: block;
        width: 100%;
        margin-left: unset;
        position: absolute;
        top: 5rem;
        background: rgb(var(--yellow-gray));
    }

    #navbar ul {
        flex-direction: column;
        align-items: flex-start;
        flex-basis: 100%;
        display: none;
        margin: 0;
    }

    #navbar ul li a {
        padding: 1rem;
    }

    #navbar .mobile_wrapper {
        flex: unset;
        width: 30%;
    }

    #navbar li ul {
        position: unset;
    }

    #navbar li ul li {
        width: unset;
        height: unset;
    }

    #donateBtn {
        display: none;
    }

}

@media screen and (max-width: 415px) {
    .contact table td {
        display: block;
        /* 一定要下！ */
        /* padding: 0; */
        margin-bottom: 1rem;
    }

    .copyright {
        flex-direction: column;
    }

    .friend_link {
        flex-direction: row;
        width: 100%;
    }

    #up-left,
    #up-right,
    #down-left,
    #down-right {
        padding-left: 2.5rem;
    }
}

/* full-pic page */
.full-pic img {
    border-radius: unset !important;
}

hr {
    border: .5px solid rgb(var(--hr-gray));
}

#EN {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.375rem;
    font-weight: 500;
    line-height: 1.18;
    color: rgb(var(--vivid-blue)) !important;
}

#searchform {
    display: none;

    position: fixed;
    top: 5rem;
    left: 0;
    justify-content: center;
    align-items: center;
    width: 95%;
    margin: 1.25rem 2.5%;
    /* padding: 3% 20%; */
    border-radius: 20px;
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.16);
    background-color: rgba(var(--beige), .98);
    min-height: 10rem;
    z-index: 1000;
}

#searchform div {
    height: fit-content;
}

#searchform input {
    font-size: 2rem;
    line-height: unset;
    margin: .5rem;
}

#searchBtn {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    border: 0;
    content: "";
    background: no-repeat center center;
    background-size: 100% 100%;
    background-image: url("../images/search.svg");
    cursor: pointer;
}

#donateBtn {
    width: 6rem;
    height: 4rem;
    border: 0;
    border-radius: 5px;
    color: rgb(var(--white));
    background-color: rgb(var(--cornflower));
    cursor: pointer;
}

.pagenavi_container {
    display: flex;
    justify-content: center;
    padding: 2rem 0;
}

.pagenavi {
    font-size: 1.375rem;
}

.page-numbers {
    display: inline-block;
    width: 2.5rem;
    line-height: 2.5rem;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
    color: gray;
}

.current {
    color: rgb(var(--white));
    background-color: rgb(var(--vivid-blue));
}
