@charset "utf-8";

:root {
    /* 
      Color palette
      Usage:
        rgb(var(--color))
      or
        rgba(var(--color, opacity))
    */

    --dark: 13, 25, 34;
    /* #0d1922 */
    --white: 245, 245, 245;
    /* #f5f5f5 */
    --beige: 246, 243, 234;
    /* #f6f3ea */
    --vivid-blue: 26, 48, 255;
    /* #1a30ff */
    --cornflower: 88, 102, 247;
    /* #5866f7 */
    --hr-gray: 199, 200, 203;
    /* #c7c8cb */
}

html {
    background-color: #4488bb;
}

body {
    color: rgb(var(--dark));
    background-color: rgb(var(--beige));
}

p {
    margin: 0;
}

a {
    text-decoration: none;
    color: rgb(var(--vivid-blue));
}

img {
    height: auto;
}

#container {
    position: relative;
    min-height: 150vh;
}

#content {
    min-height: 150vh;
    padding-top: calc(121/1920*100vw);
    /* Footer height */
    padding-bottom: 15rem;
}

#navbar {
    position: fixed;
    top: 0;
    width: 100vw;
    display: flex;
    align-items: center;
    height: calc(121/1920*100vw);
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.16);
    z-index: 990;
}

#navbar .logo_title {
    display: inherit;
    align-items: center;
}

#navbar .logo_title :nth-child(1) {
    padding-left: 1vw;
    /* height: 4.5rem; */
    height: calc(72/1920*100vw);
}

#navbar .logo_title :nth-child(2) {
    padding-left: 1vw;
    /* height: 3.5rem; */
    height: calc(57/1920*100vw);
}

#navbar .menu-main-container {
    display: inherit;
    margin-left: calc(174/1920*100vw);
}

#navbar a {
    text-decoration: none;
    color: rgb(var(--dark));
    display: inherit;
    font-size: inherit;
}

#navbar ul {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0;
}

#navbar .menu-main-container>ul>li {
    margin: 0 .5rem;
}

#navbar li ul {
    position: fixed;
    top: calc(121/1920*100vw);
    left: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 95%;
    margin: 1.25rem 2.5%;
    padding: 7% 20%;
    border-radius: 20px;
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.16);
    background-color: rgb(var(--beige));
}

#navbar li ul li {
    position: unset;
    border-bottom: solid 1px rgb(var(--dark));
    width: calc(280/1920*100vw);
    height: calc(72/1920*100vw);
}

#navbar li ul li a {
    width: inherit;
    height: inherit;
    display: flex;
    flex: 0 0 30%;
    align-items: center;
    justify-content: center;
}

#navbar ul .menu-item-has-children::after {
    content: "";
    background: url("../images/top_icon.svg") no-repeat;
}

#navbar ul .sub-menu {
    display: none;
    z-index: 1000;
}

@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {

    #navbar,
    #navbar li ul {
        backdrop-filter: blur(39px);
        -webkit-backdrop-filter: blur(39px);
    }
}

@supports not ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {

    #navbar {
        background-color: rgba(var(--beige), .9);
    }

    #navbar li ul {
        background-color: rgb(var(--beige));
    }
}


#footer {
    position: absolute;
    /* !!!!!overflow */
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 1rem;
    letter-spacing: 0.8px;
    /* Footer height */
    height: 15rem;
}

.footer_wrapper {
    width: 80%;
}

#footer a {
    color: rgb(var(--dark));
}

.copyright {
    display: flex;
    justify-content: space-between;
}

.copyright_content {
    font-family: 'Times New Roman', Times, serif;
}

.friend_link {
    width: 25%;
    display: flex;
    justify-content: space-between;
}

.friend_link a {
    font-weight: 300;
}

.contact {
    display: flex;
    flex-direction: column;
}

.contact table {
    font-weight: 300;
}

.contact_title {
    font-weight: bold;
}

#up-left {
    background-image: url(../images/phone.svg);
    background-repeat: no-repeat;
    background-position: left;
    padding-left: 2rem;
}

#up-right {
    background-image: url(../images/mail.svg);
    background-repeat: no-repeat;
    background-position: left;
    padding-left: 2rem;
}

#down-left {
    background-image: url(../images/fax.svg);
    background-repeat: no-repeat;
    background-position: left;
    padding-left: 2rem;
}

#down-right {
    background-image: url(../images/location.svg);
    background-repeat: no-repeat;
    background-position: left;
    padding-left: 2rem;
}

#topBtn {
    position: fixed;
    right: 3vw;
    bottom: 5vh;
    padding: 1vw;
    z-index: 990;
    border-style: none;
    /* color: rgb(83, 102, 253); */
    background-color: transparent;
    text-transform: uppercase;
    font-size: 1.8rem;
    display: none;
}

#blocker {
    text-align: center;
    position: fixed;
    z-index: 999;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    display: none;
}

@media screen and (max-width: 800px) {}

@media screen and (max-width: 415px) {}