.wp-block-column {
    padding: 2rem;
    border: 1px solid rgb(var(--hr-gray));
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.wp-block-column p {
    margin: 10px 0px!important;
    font-size: 1.375rem;
}

.is-style-outline .wp-block-button__link {
    padding: .2rem 1.2rem;
}

.wp-block-button:hover .wp-block-button__link {
    background-color: white;
}

main h4 {
    font-size: 1.125rem;
    font-weight: 500;
}

.horizontal-divider {
    display: none;
}

#post-content img {
    width: 1.2rem;
    margin-right: 1rem;
}

p a:hover{
    color: rgb(var(--vivid-blue));
}

.wp-block-columns > :nth-child(1):before,
.wp-block-columns > :nth-child(2):before {
    content: "理學院";
    color: rgb(var(--vivid-blue));
    padding: .5rem 3rem;
    margin: 1rem 0;
    border: 1px solid;
    border-radius: 20px;
    font-size: 1.625rem;
}
.wp-block-columns > :nth-child(2):before {
    content: "本校";
}
.wp-block-columns > :only-child:before {
    content: "";
    margin: unset;
    padding: unset;
    border: unset;
}

@media screen and (max-width: 415px) {
    .wp-block-columns :nth-child(2) {
        margin-top: 1rem;
    }
}

main h6 {
    display: block;
    width: 100%;
    font-size: 1.625rem;
    position: relative;
}
main h6:after {
    content: '';
    display: block;
    width: 75%;
    border: .5px solid rgb(var(--hr-gray));
    margin-left: auto;
    position: absolute;
    top: 1.3rem;
    right: 0;
}