
main {
    padding: 40px calc(180/1920*100vw) 200px;
}

main > h1 {
    font-size: 4.063rem;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.23;
    letter-spacing: 6.5px;
    text-align: left;
    color: #0d1922;
    margin: 50px 0;
}

main > p {
    font-size: 1.375rem;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.05;
    letter-spacing: 3.3px;
    text-align: left;
    color: #0d1922;
    margin: 50px 0;
}

main > h2 {
    font-size: 3rem;
}

main > h3 {
    font-size: 2.34rem;
}

main > h4 {
    font-size: 2rem;
}

main > h5 {
    font-size: 1.66rem;
}

main > h6 {
    font-size: 1.34rem;
}

main > h2,
main > h3,
main > h4,
main > h5,
main > h6 {
    margin: 50px;
}

main > figure:first-of-type {
    width: calc(1560/1920*100vw);
    height: calc(577/1920*100vw);
    border-radius: 20px;
}

main > figure:first-of-type > img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}